body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    
}
.main-Div{
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: "Libre Baskerville", serif;
}
    

.main-image{
    border: 5px solid ,white;
    width: 100%;
    

}

